/* Reset default margin and padding */
body, h1, h2, ul {
  margin: 0;
  padding: 0;
}

/* Set background color and font for the whole app */
html, body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* App container */
.app-container {
  display: flex;
  height: calc(100vh - 50px - 10px); /* Adjust for header + contact-info height */
}

/* Header styles */
.chat-header {
  background-color: #0088cc;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Sidebar styles */
.sidebar {
  min-width: 280px;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  overflow-y: auto;
}

.sidebar-header {
  background-color: #e4e6eb;
  padding: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e4e6eb;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-info {
  flex: 1;
}

.contact-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.last-message {
  color: #7d8492;
  font-size: 14px;
}

/* Chat container styles */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 1px solid #e4e6eb;
  overflow-y: auto;
}

.currentcontact-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e4e6eb;
}

.currentcontact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.currentcontact-name {
  font-weight: bold;
  font-size: 16px;
}

.message-container {
  flex: 1;
  /* display: flex; */
  padding: 20px;
  overflow: auto;
}

.message {
  margin: 8px 0;
  word-wrap: break-word;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
}

.sender {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.receiver {
  background-color: #ccced0;
  align-self: flex-start;
}

.log {
  background-color: #f7f435;
  align-self: flex-start;
}

/* Message input styles */
.message-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e6eb;
  padding: 10px;
  border-top: 1px solid #e4e6eb;
  box-sizing: border-box;
  width: 100%;
}

#input {
  flex: 1;
  padding: 8px;
  border: 1px solid #e4e6eb;
  border-radius: 4px;
  margin-right: 10px;
}

#send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

/* Help Modal styles */
#helpModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.helpModal-content {
  background-color: #e0fbff;
  margin: 20% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Emoji Modal styles */
#emojiModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.emojiModal-content {
  background-color: #e0fbff;
  margin: 20% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}